body {
    font-family: 'Times New Roman', Times, serif;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
    margin: 10px auto;
}

main {
    width: 20vw;
    height: 70vh;
    padding: 20px;
    border: 1px solid;
    margin: auto;
    border-radius: 8px;
    background-color: beige;
}

input.values {
    width: 90%;
    height: 6rem;
    margin: 10px;
    border-radius: 8px;
    font-size: 25px;
}


.rows {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    border: none;
    margin: 5px;
    min-height: 60px;
}

.key {
    border: 1px solid;
    border-radius: 50%;
    margin: auto;
    padding: 10px;
    width: 40px;
    min-height: 30px;
    background-color: lightgrey;
    align-items: center;
    display: flex;
    justify-content: center;
    color: #000;
    font-weight: bold;
    cursor: pointer;
}

.key:hover {
    background-color: gray;
}

.plus-sign {
   background-color: grey; 
   grid-row: span 2;
   height: 80%;
   border-radius: 30px;
}